.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2rem;

}
.post + .post {
   margin-top: 2rem;

}

.content {
    line-height: 1.6rem;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.content p {
    margin-top: 1.5rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover {
    color: var(--green-300);
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.post > header  time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}


.authorinfo strong {
    display: block;
    color: var(--gray-100);
    line-height: 1.6rem;
}

.authorinfo span {
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6rem;
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}

.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

.commentForm > strong {
    line-height: 1.6rem;
    color: var(--gray-100);
}

.commentForm textarea {
    width: 100%;
    background-color: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4rem;
    margin-top: 1rem;

}

.commentForm button {
    background: var(--green-500);
    border: 1px solid var(--green-500);
    color: var(--white);
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin-top: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    gap: 0.5rem;

    transition: background 0.2s, color 0.2s;

    
}

.commentForm button:hover {
    background: var(--green-300);
    color: var(--gray-900);
}

.commentList {
    margin-top: 2rem;
}
