.wrapper {
    /*largura maxima*/
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;

    /*aside bar e mains ficara  alinhado com o topo*/
    align-items: flex-start;
}